{% extends 'base.html' %}

{% block content %}
  <h2>Крой</h2>
  <a class="btn btn-primary" href="{% url 'add_cutting' %}">Создать крой</a>
  <table class="table">
    <thead>
      <tr>
        <th>Номер кроя</th>
        <th>Номер рулона</th>
        <th>Количество</th>
        <th>Название модели</th>
        <th>Размеры</th>
        <th>Дата создания</th>
        <th>Произведено</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for cutting in cuttings %}
        <tr>
          <td>{{ cutting.id }}</td>
          <td>{{ cutting.fabric_roll.number }}</td>
          <td>{{ cutting.quantity }}</td>
          <td>{{ cutting.model_name }}</td>
          <td>{{ cutting.sizes }}</td>
          <td>{{ cutting.production_date }}</td>
          <td>{{ cutting.produced_items }}</td>
          <td>
            <a class="btn btn-warning" href="{% url 'edit_cutting' cutting.id %}">Редактировать</a>
            <a class="btn btn-danger" href="{% url 'delete_cutting' cutting.id %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
