{% extends 'base.html' %}

{% block content %}
  <h2>Утюг</h2>
  <!-- Форма дневного отчета -->
  <form method="post" action="{% url 'ironing_report' %}" class="mb-4">
    {% csrf_token %}
    <div class="form-group">
      <label for="ironing_date">Дата:</label>
      <input type="date" name="ironing_date" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="cutting_id">Номер кроя и название модели:</label>
      <select name="cutting_id" class="form-control" required>
        {% for cutting in cuttings %}
          <option value="{{ cutting.id }}">{{ cutting.id }} - {{ cutting.model_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="items_ironed">Количество товара:</label>
      <input type="number" name="items_ironed" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить отчет</button>
  </form>

  <!-- Таблица с дневными отчетами -->
  <h3>Дневные отчеты:</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Номер кроя</th>
        <th>Название модели</th>
        <th>Количество товара</th>
      </tr>
    </thead>
    <tbody>
      {% for report in ironing_reports %}
        <tr>
          <td>{{ report.ironing_date }}</td>
          <td>{{ report.cutting.id }}</td>
          <td>{{ report.cutting.model_name }}</td>
          <td>{{ report.items_ironed }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
